[submodule "submodules/SharpMonoInjector"]
	path = submodules/SharpMonoInjector
	url = https://github.com/wh0am15533/SharpMonoInjector.git
	shallow = true
[submodule "submodules/dnSpy"]
	path = submodules/dnSpy
	url = https://github.com/dnSpy/dnSpy.git
	shallow = true
