[submodule "submodules/dnSpy"]
	path = submodules/dnSpy
	url = https://github.com/dnSpy/dnSpy.git
	shallow = true
[submodule "submodules/SharpMonoInjector4.8"]
	path = submodules/SharpMonoInjector4.8
	url = https://github.com/winstxnhdw/SharpMonoInjector4.8.git
	shallow = true
